{% extends 'base.html.twig' %}

{% block title %}Erreur de Paiement - La Boutique Française{% endblock %}

{% block container %}
    <h2>Erreur de Paiement</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, <br><br>
        Il semblerait que le paiement est échoué pour votre commande <strong> n°{{ order.reference }}</strong>.<br>
        Une confirmation d'erreur vient de vous être envoyé par mail à l'adresse <strong>{{ order.user.email }}</strong>
    </p>
    <a href="{{ path('order') }}" class="btn btn-info">Réessayer le paiement</a>
{% endblock %}
